* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

ul {
  list-style: none;
}

.add-task-container {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.task-container {
  display: flex;
  gap: 5px;
}

.task-input {
  font-size: 18px;
  /* border: 1px solid black; */
}

.completed-task {
  color: green;
}
