* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

#tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.add-task-container {
  display: flex;
  gap: 5px;
  padding: 10px;
  flex-wrap: wrap;
}

.task-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  transition: 0.3s;
  background-color: e2e2ee;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.task-container:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.btn-container {
  display: flex;
}

.completed-task {
  color: green;
  text-decoration: line-through solid green 1px;
}

.delete-btn,
.complete-btn,
.update-btn {
  font-size: 12px;
  padding: 2px 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
  cursor: pointer;
  max-height: 24px;
}

.delete-btn:hover {
  border: 1px solid red;
  border-color: red;
}

.complete-btn:hover {
  background-color: green;
  border-color: green;
}

.update-btn:hover {
  background-color: #ff8300;
}

.task-name {
  font-size: 20px;
}

.filters,
.priority,
.task-add-btn,
.task-input,
.cancel-task-btn,
.priority-filter,
.date-input {
  font-size: 16px;
  padding: 2px 4px;
  border: 1px solid rgba(32, 32, 32, 0.4);
}

.low,
.normal,
.high {
  font-size: 14px;
  /* padding-top: 4px; */
  border-right: 1px solid black;
  padding-right: 5px;
  margin-right: 5px;
  max-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.low {
  color: #6f6f32;
}

.normal {
  color: orange;
}

.high {
  color: rgba(255, 0, 0, 0.8);
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
}

/*------------------- Loader*/
.loader {
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 0.5s linear infinite;
  border-radius: 100%;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  border-left: 3px solid gray;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ------------------------- Loader end */

.being-updated {
  border: 1px solid orange;
  animation: blink 1s linear infinite;
  margin: 10px;
}

@keyframes blink {
  from {
    border-color: rgba(255, 165, 0, 1);
  }

  to {
    border-color: rgba(255, 165, 0, 0);
  }
}
